---
# tasks file for sodola

#- name: Upload new config to switch
#  ansible.builtin.shell: |
#    snmpset -v2c -c "{{ ansible_snmp_community }}" -m ALL "{{ ansible_host }}" 1.3.6.1.4.1.27282.1.3.1.6.3.1.0 a "{{ sodola_tftp_ip }}"
#    snmpset -v2c -c "{{ ansible_snmp_community }}" -m ALL "{{ ansible_host }}" 1.3.6.1.4.1.27282.1.3.1.6.3.2.0 s "{{ inventory_hostname }}_ansible.cfg"
#    snmpset -v2c -c "{{ ansible_snmp_community }}" -m ALL  "{{ ansible_host }}" 1.3.6.1.4.1.27282.1.3.1.6.3.4.0 i 4
#  delegate_to: localhost
#
- name: Upload new config to switch
  ansible.snmp.set:
    oids:
          - oid: "1.3.6.1.4.1.27282.1.3.1.6.3.1"
            iid: "0"
            type: IPADDR
            value: "{{ sodola_tftp_ip }}"
          - oid: "1.3.6.1.4.1.27282.1.3.1.6.3.2"
            iid: "0"
            type: OCTETSTR
            value: "{{ inventory_hostname }}/ansible.cfg"
          - oid: "1.3.6.1.4.1.27282.1.3.1.6.3.4"
            iid: "0"
            type: INTEGER
            value: 4
  register: command_result
  failed_when: command_result.failed

- name: Upload results
  ansible.builtin.debug:
    var: command_result
  tags:
    - never
    - sodola_debug
